<div class="row g-0 align-items-center py-2 position-relative border-bottom border-200">
    <div class="col ps-2 py-1 position-static">
        <div class="d-flex align-items-center">
            <app-button *ngIf="message; else b" [properties]="error" class="pe-3"></app-button>
            <ng-template #b>
                <app-button *ngIf="button" (click)="emitter.emit()" [properties]="button" class="pe-2"></app-button>
                <div *ngIf="initials" (click)="emitter.emit()" class="avatar avatar-xl me-1">
                    <div class="avatar-name rounded-circle bg-soft-light"><span
                            class="fs-0 text-primary">{{initials}}</span>
                    </div>
                </div>
            </ng-template>
            <div class="flex-1">
                <ng-content></ng-content>
                <div class="fs--2 fw-semi-bold">
                    <div class="text-danger">{{message}}</div>
                </div>
            </div>
        </div>
    </div>
</div>