<main class="main">
  <div class="container">
    <div class="content">
      <nav class="navbar navbar-light navbar-glass navbar-top navbar-expand">
        <a class="navbar-brand me-1 me-sm-3" href="#!">
          <div class="d-flex align-items-center">
            <img class="me-2" src="assets/img/icons/spot-illustrations/falcon.png" width="40" />
            <span class="font-sans-serif">Cigol</span>
          </div>
        </a>
        <ul *ngIf="installer" class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
          <li class="nav-item">
            <div>
              <app-button *ngIf="ios; else android" [properties]="buttonDownload"
                data-bs-toggle="dropdown"></app-button>
              <div class="dropdown-menu dropdown-menu-end bg-soft-info me-3">
                <span class="dropdown-item-text fw-bold">Para instalar nuestra APP en tu iOS:</span>
                <span class="dropdown-item-text">1. Haz click en el botón compartir en Safari.</span>
                <span class="dropdown-item-text">2. Haz click en «Añadir a la pantalla de incio».</span>
              </div>
            </div>
            <ng-template #android>
              <app-button (click)="install()" [properties]="buttonDownload"></app-button>
            </ng-template>
          </li>
        </ul>
      </nav>
      <div class="row g-0">
        <div class="col-xxl-12 px-xxl-2 mb-4">
          <div class="card h-lg-100 overflow-hidden">
            <div class="card-body p-0">
              <app-item *ngIf="!form; else new" (click)="activeForm()" [button]="buttonPlus">
                <a class="text-800 stretched-link fw-bold" href="#">Nuevo Proyecto</a>
              </app-item>
              <ng-template #new>
                <app-item (emitter)="create(project)" [button]="buttonCheck" [errorButton]="buttonExclamation"
                  [errorMessage]="hasError(name)">
                  <form #project="ngForm" class="pe-3 w-100" (ngSubmit)="create(project)" autocomplete="off">
                    <input #iname #name="ngModel" autofocus="true"
                      class="form-control border-0 rounded-0 outline-none p-0" complete name="name" ngModel
                      placeholder="Nombre del proyecto..." uniqueProject />
                  </form>
                </app-item>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">Cigol Software &copy;</p>
          </div>
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">v0.0.2</p>
          </div>
        </div>
      </footer>
    </div>
  </div>
</main>
<button #loading data-bs-target="#loading" data-bs-toggle="modal" hidden></button>
<div class="modal fade" data-bs-backdrop="static" id="loading" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered position-relative">
    <div hidden>
      <button #close data-bs-dismiss="modal"></button>
    </div>
    <div class="position-absolute top-50 start-50 translate-middle">
      <div class="spinner-border text-light m-3"></div>
    </div>
  </div>
</div>
<a #toast data-bs-toggle="notice" href="#toast" hidden></a>
<div class="toast hide notice shadow-none bg-transparent" id="toast">
  <div class="toast-body my-3 ms-0 ms-md-5">
    <div class="alert alert-{{toastMessage?.color}} m-0"> {{toastMessage?.message}}</div>
  </div>
</div>