<main class="main">
  <div class="container">
    <nav class="navbar navbar-light navbar-vertical navbar-expand-xl">
      <div class="d-flex align-items-center">
        <div class="toggle-icon-wrapper">
          <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle">
            <span class="navbar-toggle-icon">
              <span class="toggle-line"></span>
            </span>
          </button>
        </div>
        <a class="navbar-brand">
          <div class="d-flex align-items-center py-3">
            <img class="me-2" src="assets/img/icons/spot-illustrations/falcon.png" width="40" />
            <span class="font-sans-serif">Cigol</span>
          </div>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <div class="navbar-vertical-content scrollbar">
          <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
            <li class="nav-item">
              <a *ngFor="let item of menu" [ngClass]="{'active': item.active}" [routerLink]="item.link"
                class="nav-link">
                <div class="d-flex align-items-center">
                  <span class="nav-link-icon">
                    <span class="fas fa-{{item.icon}}"></span>
                  </span>
                  <span class="nav-link-text ps-1">{{item.name}}</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="content p-0">
      <router-outlet></router-outlet>
      <footer class="footer">
        <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">Cigol Software &copy;</p>
          </div>
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">v0.1.1</p>
          </div>
        </div>
      </footer>
    </div>
  </div>
</main>
<button #loading data-bs-target="#loading" data-bs-toggle="modal" hidden></button>
<div class="modal fade" data-bs-backdrop="static" id="loading" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered position-relative">
    <div hidden>
      <button #close data-bs-dismiss="modal"></button>
    </div>
    <div class="position-absolute top-50 start-50 translate-middle">
      <div class="spinner-border text-light m-3"></div>
    </div>
  </div>
</div>
<button #toast hidden id="liveToastBtn"></button>
<div class="position-fixed bottom-0 end-0 p-3" tabindex="-1">
  <div id="liveToast" class="toast hide notice shadow-none bg-transparent">
    <div class="toast-body my-3 ms-0 ms-md-5">
      <div class="alert alert-{{toastMessage?.color}} m-0">{{toastMessage?.message}}</div>
    </div>
  </div>
</div>